<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name="com.shivamsingh.EditItemActivvity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"/>
        <activity
            android:name="com.shivamsingh.Login"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"></activity>
        <activity
            android:name="com.shivamsingh.AdminPanel.AdminHomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.AdminPanel.SellerRequestsActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.Register"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.SellerRegister"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.Activities.MainNavigation"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.shivamsingh.Activities.Creativepreneur"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.Activities.Innovative"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.Activities.BuisenessActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.Activities.PersonalActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.Activities.MerchantActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.Activities.EnterringOTP"
            android:exported="true"
            android:theme="@style/Theme.OTPTheme" />
        <activity
            android:name="com.shivamsingh.Activities.Enterotp"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name="com.shivamsingh.InsideActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".SecondWelcome"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.shivamsingh.onboarding.onboarding.IntroActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3647835717520066~3407622690"/>

    </application>

</manifest>